@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--bloob: 358 76% 94%;
		--bloob2: 247, 82%, 91%;
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;
		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;
		--primary: 221.2 83.2% 53.3%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 221.2 83.2% 53.3%;
		--radius: 0.5rem;
		--king: 222.2 84% 4.9%;
	}

	.dark {
		--bloob: 359 20% 48%;
		--bloob2: 245 20% 48%;
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;
		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;
		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;
		--primary: 217.2 91.2% 59.8%;
		--primary-foreground: 222.2 47.4% 11.2%;
		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;
		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;
		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;
		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 224.3 76.3% 48%;
		--king: 0 0% 100%;
	}
}

html {
	@apply bg-background text-foreground;
}
.input {
	@apply flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
}

.btn-primary {
	@apply bg-primary  hover:bg-primary/90 inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
}
.btn-destructive {
	@apply bg-destructive text-destructive-foreground hover:bg-destructive/90 inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
}
.btn-outline {
	@apply border border-input bg-background inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground;
}
.btn-secondary {
	@apply bg-secondary text-secondary-foreground hover:bg-secondary/80 inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
}
.btn-ghosh {
	@apply hover:bg-accent hover:text-accent-foreground inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
}
.btn-link {
	@apply text-primary underline-offset-4 hover:underline inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
}

.btn-default {
	@apply h-10 px-4 py-2;
}

.btn-sm {
	@apply h-9 rounded-md px-3;
}
.btn-lg {
	@apply h-11 rounded-md px-8;
}

.btn-icon {
	@apply h-10 w-10;
}

.tiptap > * + * {
	margin-top: 0.75em;
}
.tiptap ul {
	@apply px-4 list-disc;
}
.tiptap ol {
	@apply px-4 list-decimal;
}
.tiptap h1 {
	@apply text-3xl;
}
.tiptap h2 {
	@apply text-2xl;
}
.tiptap h3 {
	@apply text-xl;
}
.tiptap h4 {
	@apply text-lg;
}
.tiptap h5 {
	@apply text-base;
}
.tiptap h6 {
	@apply text-sm;
}
.tiptap code {
	@apply bg-secondary text-foreground p-1;
}
.tiptap pre {
	@apply bg-secondary text-king px-2 py-1 rounded-sm;
}
.tiptap pre code {
	color: inherit;
	padding: 0;
	background: none;
	font-size: 0.8rem;
}
.tiptap img {
	max-width: 100%;
	height: auto;
}
.tiptap blockquote {
	@apply pl-4 border-l-2 border-border;
}
.tiptap hr {
	@apply my-8 border-t-2 border-border;
}

.is-active {
	@apply p-2 text-white bg-primary rounded-xl;
}
